div.common-popup-outer-container {
  z-index: 1;
  position: absolute;
  height: 100%;
  width: 100%;
  text-align: center;
  top: 0;
  left: 0;
}
div.common-popup-inner-container {
  width: 90vw;
  height: 90vh;
  background-color: #eeeeff;
  display: inline-block;
  margin-top: 5vh;
  border-radius: 25px;
}
table.common-popup {
  margin: 5vh 5vw;
  table-layout: fixed;
  width: 80vw;
  height: 80vh;
  background-color: #eeeeff;
}
tr.message-row {
  height: 75%;
  background-color: #eeeeff;
  font-size: 5vmin;
}
#ok-button {
  width: 45vw;
  height: 60%;
  font-size: 4vmin;
}
