#weeks-container {
  display: inline-block;
  text-align: center;
}
.week-container {
  display: inline-block;
  padding: 5px;
}
button.week-button {
  width: 50vmax;
  padding: 5px;
  height: 5vmax;
  font-size: 3vmax;
}
