body {
  background-color: #fafaff;
}
#header-table {
  background-color: #aaaabb;
  position: absolute;
  width: 100%;
  left: 0;
  right: 0;
  top: 0;
  padding: 0px;
  font-size: 300%;
  color: #222222;
}
#back-link-cell {
  width: 85px;
  font-size: 45%;
  text-align: center;
}
#main-router-outlet-container {
  position: absolute;
  top: 75px;
  left: 0;
  right: 0;
  padding: 10px;
}

table.common {
  border-collapse: collapse;
  table-layout: fixed;
  border: 4px inset #cfcfcf;
}

td.common {
  padding: 10px;
  border: 2px inset #cfcfcf;
  text-align: center;
}
