<table>
  <tr>
    <td>
      <input [(ngModel)]="jobName" placeholder="Job Name" class="entryContainer" id="jobNameInput">
    </td>
    <td [attr.rowspan]="2">
      <select [(ngModel)]="timeInHour">
        <option *ngFor="let hourOption of hourOptions">{{hourOption.value}}</option>
      </select>
    </td>
  </tr>
  <tr>
    <td>date</td>
  </tr>
  <tr>
    <td [attr.colspan]="2">comment</td>
  </tr>
  <tr>
    <td [attr.colspan]="2">
      <button (click)="onSubmit()">Submit</button>
    </td>
  </tr>
</table>