<table mat-table [dataSource]="dataSource">

  <ng-container matColumnDef="firstColumn">
    <th mat-header-cell *matHeaderCellDef style="display: none;"></th>
    <td mat-cell *matCellDef="let data; let i = index">{{data.column0value}}</td>
  </ng-container>

  <ng-container matColumnDef="secondColumn">
    <th mat-header-cell *matHeaderCellDef style="display: none;"></th>
    <td mat-cell *matCellDef="let data">{{data.column1value}}</td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
  <tr mat-row *matRowDef="let myRowData; columns: columnsToDisplay"></tr>

</table>