<div id="time-entry-table-container">
  <table id="time-entry-table" class="common-outter-table common-table">
    <tr>
      <td id="job-name-cell" class="time-entry">
        <input [(ngModel)]="jobName" placeholder="Job Name" id="job-name-input">
      </td>
    </tr>
    <tr>
      <td class="time-entry">
          <select [(ngModel)]="month" (change)="resolveNumberOfDaysInMonth()" class="time-entry-selector">
            <option *ngFor="let monthOption of monthOptions">{{monthOption.value}}</option>
          </select>
          <span class="time-entry-span">/</span>
          <select [(ngModel)]="day" class="time-entry-selector">
            <option *ngFor="let dayOption of dayOptions">{{dayOption.value}}</option>
          </select>
          <span class="time-entry-span">/</span>
          <select [(ngModel)]="year" (change)="resolveNumberOfDaysInMonth()" class="time-entry-selector">
            <option *ngFor="let yearOption of yearOptions">{{yearOption.value}}</option>
          </select>
        </td>
    </tr>
    <tr>
      <td id="time-of-day-entry-cell" class="time-entry">
          <select [(ngModel)]="timeInHour" class="time-entry-selector">
            <option *ngFor="let hourOption of hourOptions">{{hourOption.value}}</option>
          </select>
          <span class="time-entry-span">:</span>
          <select [(ngModel)]="timeInMinute" class="time-entry-selector">
            <option *ngFor="let minuteOption of minuteOptions">{{minuteOption.value}}</option>
          </select>
          <span>&nbsp;</span>
          <select [(ngModel)]="timeInPeriod" class="time-entry-selector">
            <option *ngFor="let periodOption of periodOptions">{{periodOption.value}}</option>
          </select>
          <br />
          <span class="time-entry-span">to</span>
          <br />
          <select [(ngModel)]="timeOutHour" class="time-entry-selector">
            <option *ngFor="let hourOption of hourOptions">{{hourOption.value}}</option>
          </select>
          <span class="time-entry-span">:</span>
          <select [(ngModel)]="timeOutMinute" class="time-entry-selector">
            <option *ngFor="let minuteOption of minuteOptions">{{minuteOption.value}}</option>
          </select>
          <span>&nbsp;</span>
          <select [(ngModel)]="timeOutPeriod" class="time-entry-selector">
            <option *ngFor="let periodOption of periodOptions">{{periodOption.value}}</option>
          </select>
        </td>
    </tr>
    <tr>
      <td id="comment-cell" class="time-entry">
        <textarea id="comment-textarea" [(ngModel)]="comment" [attr.rows]="4" placeholder="Comment"></textarea>
      </td>
    </tr>
    <tr>
      <td id="submit-cell" class="time-entry">
        <button id="submit-button" class="common-button" (click)="onSubmit()">Submit</button>
      </td>
    </tr>
  </table>
</div>

<app-error-popup id="error-popup" *ngIf="!errorDismissed" (errorDismissed)="onErrorDismiss($event)"
                 [message]="errorMessage">
</app-error-popup>

<app-confirmation-popup id="confirmation-popup" *ngIf="confirmationNeeded">
</app-confirmation-popup>
