<table id="time-entry-table" class="common-outter-table common-table">
  <tr>
    <td class="common">
      <input [(ngModel)]="jobName" placeholder="Job Name" class="entryContainer" id="jobNameInput">
    </td>
    <td [attr.rowspan]="2" class="common">
      <select [(ngModel)]="timeInHour">
        <option *ngFor="let hourOption of hourOptions">{{hourOption.value}}</option>
      </select>
      <span>:</span>
      <select [(ngModel)]="timeInMinute">
        <option *ngFor="let minuteOption of minuteOptions">{{minuteOption.value}}</option>
      </select>
      <select [(ngModel)]="timeInPeriod">
        <option *ngFor="let periodOption of periodOptions">{{periodOption.value}}</option>
      </select>
      <br />
      <span>to</span>
      <br />
      <select [(ngModel)]="timeOutHour">
        <option *ngFor="let hourOption of hourOptions">{{hourOption.value}}</option>
      </select>
      <span>:</span>
      <select [(ngModel)]="timeOutMinute">
        <option *ngFor="let minuteOption of minuteOptions">{{minuteOption.value}}</option>
      </select>
      <select [(ngModel)]="timeOutPeriod">
        <option *ngFor="let periodOption of periodOptions">{{periodOption.value}}</option>
      </select>
    </td>
  </tr>
  <tr>
    <td class="common">
      <select [(ngModel)]="month" (change)="resolveNumberOfDaysInMonth()">
        <option *ngFor="let monthOption of monthOptions">{{monthOption.value}}</option>
      </select>
      <span>&nbsp;/&nbsp;</span>
      <select [(ngModel)]="day">
        <option *ngFor="let dayOption of dayOptions">{{dayOption.value}}</option>
      </select>
      <span>&nbsp;/&nbsp;</span>
      <select [(ngModel)]="year" (change)="resolveNumberOfDaysInMonth()">
        <option *ngFor="let yearOption of yearOptions">{{yearOption.value}}</option>
      </select>
    </td>
  </tr>
  <tr>
    <td id="comment-cell" [attr.colspan]="2" class="common">
      <textarea id="comment-textarea" [(ngModel)]="comment" [attr.rows]="4" [attr.cols]="50"></textarea>
    </td>
  </tr>
  <tr>
    <td [attr.colspan]="2" class="common">
      <button (click)="onSubmit()">Submit</button>
    </td>
  </tr>
</table>
