body {
  background-color: #fafaff;
}
table {
  border: 4px inset #cfcfcf;
  border-collapse: collapse;
  width: 400px;
  table-layout: fixed;
}
td {
  padding: 10px;
  border: 2px inset #cfcfcf;
  text-align: center;
}
#comment-textarea {
  resize: none;
  max-width: 100%;
  max-height: 100%;
}
#comment-cell {
  padding-right: 15px;
}
